<robot name = "robot">
    <link name="Base">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.8807760002491114 1.907833076598838 0.8837780355914607" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.8807760002491114 1.907833076598838 0.8837780355914607" />
            </geometry>
        </collision>
    </link>
    <joint name="Base_Link0" type="revolute">
       <parent link="Base"/>
       <child  link="Link0"/>
       <origin rpy="0 0 0" xyz="-0.9403880001245557 0 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link0">
        <inertial>
            <origin xyz="-0.4944555330967717 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4944555330967717 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9889110661935434 1.8513416639517342 1.8000245618403239" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4944555330967717 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9889110661935434 1.8513416639517342 1.8000245618403239" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-0.9889110661935434 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="-0.5125180291591546 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5125180291591546 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0250360583183091 1.3856540532007984 1.7434686551382585" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5125180291591546 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0250360583183091 1.3856540532007984 1.7434686551382585" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-1.0250360583183091 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.4743345101204226 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4743345101204226 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9486690202408452 0.7288106127883692 1.6794775820989603" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4743345101204226 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9486690202408452 0.7288106127883692 1.6794775820989603" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-0.9486690202408452 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.2824564747515529 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2824564747515529 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5649129495031058 1.182867098811626 1.270027359567101" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2824564747515529 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5649129495031058 1.182867098811626 1.270027359567101" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="-0.5649129495031058 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="-0.8960735760895766 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.8960735760895766 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7921471521791532 1.0121931105968074 1.2836718090985455" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.8960735760895766 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7921471521791532 1.0121931105968074 1.2836718090985455" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="-1.7921471521791532 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="-0.37036700223829777 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.37036700223829777 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7407340044765955 0.5114226373731924 1.7716744370115147" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.37036700223829777 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7407340044765955 0.5114226373731924 1.7716744370115147" />
            </geometry>
        </collision>
    </link>
</robot>