<robot name = "robot">
    <link name="Base">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.6391386810639297 0.7733815596414777 0.9641006047475003" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.6391386810639297 0.7733815596414777 0.9641006047475003" />
            </geometry>
        </collision>
    </link>
    <joint name="Base_Link0" type="revolute">
       <parent link="Base"/>
       <child  link="Link0"/>
       <origin rpy="0 0 0" xyz="-0.8195693405319648 0 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link0">
        <inertial>
            <origin xyz="-0.8614371997009804 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.8614371997009804 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7228743994019609 1.6001582664392646 1.4191349736437167" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.8614371997009804 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7228743994019609 1.6001582664392646 1.4191349736437167" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="-1.7228743994019609 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="-0.5818402720544662 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5818402720544662 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1636805441089324 0.9931075077408154 1.966871036513703" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5818402720544662 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.1636805441089324 0.9931075077408154 1.966871036513703" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="-1.1636805441089324 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="-0.8532496622267519 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.8532496622267519 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7064993244535038 1.368593247869251 1.8853233962107545" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.8532496622267519 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.7064993244535038 1.368593247869251 1.8853233962107545" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="-1.7064993244535038 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="-0.5283714350696347 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5283714350696347 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0567428701392694 1.5733040927860185 1.2635370427219552" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5283714350696347 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0567428701392694 1.5733040927860185 1.2635370427219552" />
            </geometry>
        </collision>
    </link>
</robot>